/* .hero{
    height:500px;
    background-image:url("image.jpg");
    background-size:cover;
    background-position:center;
}
nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
/* .topbar{
    background:#ff5722;
    color:white;
}

.logo span{
    color:#ff5722;
}

.card{
    background:#ff5722;
    color:white;
} */ */